Repository cougars-oss/cougars-dev: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_uncrustify, ament_cpplint, ament_flake8, ament_pep257, ament_lint_cmake, ament_xmllint, ament_copyright

ament_uncrustify:
  name: ament_uncrustify
  entry: ament_uncrustify
  args:
  - --reformat
  language: system

ament_cpplint:
  name: ament_cpplint
  entry: ament_cpplint
  language: system

ament_flake8:
  name: ament_flake8
  entry: ament_flake8
  language: system

ament_pep257:
  name: ament_pep257
  entry: ament_pep257
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  entry: ament_lint_cmake
  language: system

ament_xmllint:
  name: ament_xmllint
  entry: ament_xmllint
  language: system

ament_copyright:
  name: ament_copyright
  entry: ament_copyright
  language: system

Fix for UID/GID
  .devcontainer/devcontainer.json
  .devcontainer/holoocean/devcontainer.json
  .devcontainer/holoocean/docker-compose.yaml
  docker/Dockerfile.base
  docker/Dockerfile.dev
  docker/entrypoint.sh
  docker/holoocean/Dockerfile.holoocean
  docker/holoocean/entrypoint.sh
Due: ament_copyright

HoloOcean working
  config/holoocean/couguv_holoocean_params.yaml
  config/holoocean/couguv_openwater.json
  config/holoocean/multi_couguv_holoocean_params.yaml
  config/holoocean/multi_couguv_openwater.json
  scripts/bag_launch.sh
  scripts/holoocean_launch.sh
  scripts/key_teleop.sh
  scripts/replay_launch.sh
  scripts/sim_launch.sh
Due: ament_copyright

Dockerfile cleanup
  docker/Dockerfile.base
  docker/holoocean/Dockerfile.holoocean
Due: ament_copyright

Update pre-commit
  .pre-commit-config.yaml
Due: none

Quick update
  .pre-commit-config.yaml
Due: none

Fix for ROS2 CI
  .github/workflows/ros2_ci.yml
Due: none

Fix for save/load directory
  ros2_ws/src/coug_description/launch/coug_description.launch.py
  ros2_ws/src/coug_mapviz/src/coug_waypoints_plugin.cpp
  ros2_ws/src/holoocean_bridge/holoocean_bridge/fin_state_publisher_node.py
  scripts/holoocean_launch.sh
  scripts/sim_launch.sh
Due: ament_uncrustify, ament_cpplint, ament_flake8, ament_pep257, ament_copyright

Fix for config saving
  scripts/bag_launch.sh
  scripts/sim_launch.sh
Due: ament_copyright

Simplify holoocean setup
  docker/holoocean/entrypoint.sh
Due: ament_copyright

Couldn't get replay working
  ros2_ws/src/coug_bringup/launch/replay.launch.py
  scripts/replay_launch.sh
Due: ament_flake8, ament_pep257, ament_copyright

Better colors
  docker/Dockerfile.dev
  scripts/bag_launch.sh
  scripts/holoocean_launch.sh
  scripts/key_teleop.sh
Due: ament_copyright

WIP system ID
  system_id.py
Due: ament_flake8, ament_pep257, ament_copyright

Moved media to eval
  media/diagrams/fgo_diagrams.py
  media/diagrams/fgo_dvl_between.pdf
  media/diagrams/fgo_dvl_between.png
  media/diagrams/fgo_dvl_binary.pdf
  media/diagrams/fgo_dvl_binary.png
  media/diagrams/fgo_dynamics.pdf
  media/diagrams/fgo_dynamics.png
  media/diagrams/requirements.txt
  media/latex-packages.txt
  media/plots/evo_eval.sh
  media/plots/proc_batch.sh
  media/plots/requirements.txt
  media/plots/traj_bench_plot.py
  media/plots/traj_plot.py
Due: ament_flake8, ament_pep257, ament_copyright

Moved to rosbags
  system_id.py
Due: ament_flake8, ament_pep257, ament_copyright

Update devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/holoocean/devcontainer.json
Due: none

Cleaned up devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/holoocean/devcontainer.json
Due: none

System ID updates
  system_id.py
Due: ament_flake8, ament_pep257, ament_copyright

Added sensor noise toggle
  ros2_ws/src/coug_bringup/launch/sim.launch.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/ahrs_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/depth_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/dvl_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/gps_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/imu_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/mag_converter_node.py
  ros2_ws/src/holoocean_bridge/launch/holoocean_bridge.launch.py
  scripts/sim_launch.sh
Due: ament_flake8, ament_pep257, ament_copyright

Noise fix
  ros2_ws/src/holoocean_bridge/holoocean_bridge/ahrs_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/depth_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/dvl_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/imu_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/mag_converter_node.py
Due: ament_flake8, ament_pep257, ament_copyright

added debug lines
  ros2_ws/src/holoocean_bridge/holoocean_bridge/imu_converter_node.py
  scripts/sim_launch.sh
Due: ament_flake8, ament_pep257, ament_copyright

Fix for noise handling
  ros2_ws/src/holoocean_bridge/holoocean_bridge/ahrs_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/depth_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/dvl_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/gps_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/imu_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/mag_converter_node.py
  scripts/sim_launch.sh
Due: ament_flake8, ament_pep257, ament_copyright

System ID fixes
  ros2_ws/src/coug_navigation/config/coug_navigation_params.yaml
  ros2_ws/src/coug_navigation/params/waypoint_follower_params.yaml
  ros2_ws/src/coug_navigation/src/waypoint_follower_node.cpp
  ros2_ws/src/holoocean_bridge/holoocean_bridge/fin_state_publisher_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/wrench_converter_node.py
  ros2_ws/src/holoocean_bridge/launch/holoocean_bridge.launch.py
  scripts/sim_launch.sh
  system_id.py
Due: ament_uncrustify, ament_cpplint, ament_flake8, ament_pep257, ament_copyright

WIP sysid
  simple_sysid.py
  system_id.py
Due: ament_flake8, ament_pep257, ament_copyright

Fix for simple_sysid
  simple_sysid.py
Due: ament_flake8, ament_pep257, ament_copyright

Simple sysid w real world data
  data/T200-10V.csv
  data/T200-12V.csv
  data/T200-14V.csv
  data/T200-16V.csv
  data/T200-18V.csv
  data/T200-20V.csv
  simple_sysid.py
Due: ament_flake8, ament_pep257, ament_copyright

Cleaned up simple sysid
  simple_sysid.py
Due: ament_flake8, ament_pep257, ament_copyright

debugging
  scripts/plot_covariances.py
Due: ament_flake8, ament_pep257, ament_copyright

Testing new GTSAM version
  .devcontainer/holoocean/devcontainer.json
  .devcontainer/post-create-command.sh
  .pre-commit-config.yaml
  data/T200-10V.csv
  data/T200-12V.csv
  data/T200-14V.csv
  data/T200-16V.csv
  data/T200-18V.csv
  data/T200-20V.csv
  docker/Dockerfile.gtsam
  docker/entrypoint.sh
  docker/holoocean/entrypoint.sh
  scripts/bag_launch.sh
  scripts/holoocean_launch.sh
  scripts/key_teleop.sh
  scripts/plot_covariances.py
  scripts/sim_launch.sh
  scripts/utils/common.sh
  simple_sysid.py
Due: ament_flake8, ament_pep257, ament_copyright

Fix for boost deps
  docker/Dockerfile.gtsam
Due: ament_copyright

Quick code cleanup
  .github/workflows/docker_ci.yml
  docker/Dockerfile.dev
Due: ament_copyright

Added editorconfig
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yaml
  .devcontainer/holoocean/devcontainer.json
  .devcontainer/holoocean/docker-compose.yaml
  .editorconfig
  .pre-commit-config.yaml
  README.md
  config/holoocean/bluerov2_openwater.json
  config/holoocean/couguv_openwater.json
  config/holoocean/multi_couguv_openwater.json
  docker/Dockerfile.base
  docker/Dockerfile.dev
  docker/Dockerfile.gtsam
  docker/Dockerfile.runtime
  docker/holoocean/Dockerfile.holoocean
  docker/holoocean/entrypoint.sh
  ros2_ws/src/coug_localization/config/coug_localization_params.yaml
  ros2_ws/src/coug_mapviz/ui/coug_waypoints_config.ui
  ros2_ws/src/coug_mapviz/waypoints/example.json
  ros2_ws/src/coug_plotjuggler/plotjuggler/plotjuggler.xml.template
  ros2_ws/src/coug_rqt/diagnostics/diagnostics_params.yaml.template
  ros2_ws/src/coug_rqt/diagnostics/multi_diagnostics_params.yaml
  scripts/bag_launch.sh
  scripts/holoocean_launch.sh
  scripts/sim_launch.sh
  scripts/utils/common.sh
Due: ament_copyright

Updated pre-commit
  .pre-commit-config.yaml
Due: none

WIP README
  README.md
Due: ament_copyright

Update README with devcontainers
  README.md
Due: ament_copyright

Update README
  README.md
Due: ament_copyright

Renamed folder
  .devcontainer/gpu/devcontainer.json
  .devcontainer/gpu/docker-compose.yaml
Due: none

Changed to .docker
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yaml
  .devcontainer/gpu/devcontainer.json
  .devcontainer/gpu/docker-compose.yaml
  .docker/Dockerfile.base
  .docker/Dockerfile.dev
  .docker/Dockerfile.gtsam
  .docker/Dockerfile.runtime
  .docker/entrypoint.sh
  .docker/holoocean/Dockerfile.holoocean
  .docker/holoocean/entrypoint.sh
  .github/workflows/docker_ci.yml
Due: ament_copyright

precommit updates
  .pre-commit-config.yaml
Due: none

Forbid submodules
  .pre-commit-config.yaml
Due: none

Add detect private key
  .pre-commit-config.yaml
Due: none

Path conditions:
  ament_uncrustify: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cxx|cu)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cxx|cu)$
  ament_flake8: any of: \.py$, but not: /setup\.py$
  ament_pep257: any of: \.py$, but not: /setup\.py$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_xmllint: any of: \.xml$
  ament_copyright: any of: ., but not: (?x)^(
    .*\.json|
    .*\.yaml|
    .*\.yml|
    .*\.xml|
    .*\.repos|
    .*\.txt|
    .*/setup\.py
)$

