Repository cougars-oss/cougars-dev: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_uncrustify, ament_cpplint, ament_flake8, ament_pep257, ament_copyright

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "üê° [pre-commit.ci] autofix"
  autoupdate_commit_msg: "ü™º [pre-commit.ci] autoupdate"
  autoupdate_schedule: monthly
  submodules: false
  skip:
    [
      ament_uncrustify,
      ament_cpplint,
      # ament_cppcheck,
      ament_flake8,
      ament_pep257,
      ament_lint_cmake,
      ament_xmllint,
      ament_copyright,
    ]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-yaml
      - id: check-json
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-added-large-files
        args: ["--maxkb=10000"]
      - id: forbid-submodules

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.37.0
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black

  - repo: local
    hooks:
      # --- C++ Auto-Format ---
      - id: ament_uncrustify
        name: ament_uncrustify
        entry: ament_uncrustify
        args: ["--reformat"]
        language: system
        types_or: [c++, c]
        files: ^ros2_ws/src/

      # --- C++ Linting ---
      - id: ament_cpplint
        name: ament_cpplint
        entry: ament_cpplint
        language: system
        types_or: [c++, c]
        files: ^ros2_ws/src/

      # - id: ament_cppcheck
      #   name: ament_cppcheck
      #   entry: ament_cppcheck
      #   language: system
      #   types_or: [c++, c]
      #   files: ^ros2_ws/src/

      # --- Python Linting ---
      - id: ament_flake8
        name: ament_flake8
        entry: ament_flake8
        language: system
        types: [python]
        files: ^ros2_ws/src/
        exclude: /setup\.py$

      - id: ament_pep257
        name: ament_pep257
        entry: ament_pep257
        language: system
        types: [python]
        files: ^ros2_ws/src/
        exclude: /setup\.py$

      # --- CMake & XML Linting ---
      - id: ament_lint_cmake
        name: ament_lint_cmake
        entry: ament_lint_cmake
        language: system
        types: [cmake]
        files: ^ros2_ws/src/

      - id: ament_xmllint
        name: ament_xmllint
        entry: ament_xmllint
        language: system
        types: [xml]
        files: ^ros2_ws/src/

      # --- Copyright Check ---
      - id: ament_copyright
        name: ament_copyright
        entry: ament_copyright
        language: system
        files: ^ros2_ws/src/
        exclude: |
          (?x)^(
              .*\.json|
              .*\.yaml|
              .*\.yml|
              .*\.xml|
              .*\.repos|
              .*\.txt|
              .*/setup\.py
          )$

Added desktop light
  .devcontainer/devcontainer.json
  .devcontainer/gpu/devcontainer.json
Due: none

Testing GUI forwarding
  .devcontainer/devcontainer.json
  .devcontainer/gpu/devcontainer.json
Due: none

Quick revert
  .devcontainer/devcontainer.json
  .devcontainer/gpu/devcontainer.json
Due: none

Fix for remote display
  .devcontainer/docker-compose.yaml
  .devcontainer/gpu/docker-compose.yaml
Due: none

Add Wiki section to README for documentation link
  README.md
Due: none

Fix formatting of GitHub Wiki link in README
  README.md
Due: none

Added ROS_DOMAIN_ID
  .devcontainer/docker-compose.yaml
  .devcontainer/gpu/docker-compose.yaml
Due: none

Pinning vcs versions
  cougars.repos
Due: none

Docker folder fixes
  .github/dependabot.yml
  .github/workflows/docker_ci.yml
  config/fleet/coug_fgo_params.yaml
  config/fleet/coug_navigation_params.yaml
Due: none

Update pre-commit
  .pre-commit-config.yaml
Due: none

Merged coug_fgo and coug_localization
  config/fleet/coug_fgo_params.yaml
  config/fleet/coug_localization_params.yaml
  ros2_ws/src/coug_bringup/launch/auv.launch.py
  ros2_ws/src/coug_bringup/package.xml
  ros2_ws/src/coug_localization/LICENSE
  ros2_ws/src/coug_localization/config/coug_localization_params.yaml
  ros2_ws/src/coug_localization/launch/coug_localization.launch.py
  ros2_ws/src/coug_localization/package.xml
  ros2_ws/src/coug_localization/resource/coug_localization
  ros2_ws/src/coug_localization/setup.cfg
  ros2_ws/src/coug_localization/setup.py
  ros2_ws/src/coug_localization/test/test_copyright.py
  ros2_ws/src/coug_localization/test/test_flake8.py
  ros2_ws/src/coug_localization/test/test_pep257.py
Due: ament_flake8, ament_pep257, ament_copyright

Renamed waypoints to missions
  ros2_ws/src/coug_mapviz/missions/example.json
  ros2_ws/src/coug_mapviz/src/coug_waypoints_plugin.cpp
Due: ament_uncrustify, ament_cpplint, ament_copyright

Removed sensor_bridge
  config/fleet/coug_fgo_params.yaml
  config/fleet/sensor_bridge_params.yaml
  ros2_ws/src/coug_bringup/launch/bag.launch.py
  ros2_ws/src/coug_bringup/package.xml
  ros2_ws/src/coug_rqt/diagnostics/diagnostics_params.yaml.template
  ros2_ws/src/coug_rqt/diagnostics/multi_diagnostics_params.yaml
  ros2_ws/src/sensor_bridge/LICENSE
  ros2_ws/src/sensor_bridge/config/sensor_bridge_params.yaml
  ros2_ws/src/sensor_bridge/launch/sensor_bridge.launch.py
  ros2_ws/src/sensor_bridge/package.xml
  ros2_ws/src/sensor_bridge/resource/sensor_bridge
  ros2_ws/src/sensor_bridge/sensor_bridge/__init__.py
  ros2_ws/src/sensor_bridge/sensor_bridge/dvl_odom_converter_node.py
  ros2_ws/src/sensor_bridge/sensor_bridge/gps_odom_converter_node.py
  ros2_ws/src/sensor_bridge/setup.cfg
  ros2_ws/src/sensor_bridge/setup.py
  ros2_ws/src/sensor_bridge/test/test_copyright.py
  ros2_ws/src/sensor_bridge/test/test_flake8.py
  ros2_ws/src/sensor_bridge/test/test_pep257.py
Due: ament_flake8, ament_pep257, ament_copyright

WIP better GPS
  ros2_ws/src/holoocean_bridge/holoocean_bridge/ahrs_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/gps_converter_node.py
  ros2_ws/src/holoocean_bridge/package.xml
Due: ament_flake8, ament_pep257, ament_copyright

Quick dep update
  ros2_ws/src/coug_description/package.xml
Due: none

Quick precommit fixes
  ros2_ws/src/holoocean_bridge/holoocean_bridge/ahrs_converter_node.py
Due: ament_flake8, ament_pep257, ament_copyright

Quick update
  .docker/Dockerfile.dev
Due: none

CI fixes
  .docker/Dockerfile.dev
  ros2_ws/src/holoocean_bridge/package.xml
Due: none

Quick fix
  ros2_ws/src/holoocean_bridge/holoocean_bridge/gps_converter_node.py
Due: ament_flake8, ament_pep257, ament_copyright

Quick CI fix
  .github/workflows/docker_ci.yml
Due: none

Fix defaults
  config/fleet/coug_fgo_params.yaml
  ros2_ws/src/coug_navigation/config/coug_navigation_params.yaml
  ros2_ws/src/coug_navigation/params/waypoint_follower_params.yaml
Due: none

Up-to-date params
  config/blue0sim_params.yaml
  config/bluerov2_params.yaml
  config/coug0sim_params.yaml
  config/coug1sim_params.yaml
  config/coug2sim_params.yaml
  config/fleet/coug_fgo_params.yaml
Due: none

Testing mag
  config/fleet/coug_fgo_params.yaml
Due: none

fix for mag biases
  config/fleet/coug_fgo_params.yaml
Due: none

Fix for mag
  config/fleet/coug_fgo_params.yaml
Due: none

Update holoocean_bridge params
  config/fleet/coug_fgo_params.yaml
  config/fleet/holoocean_bridge_params.yaml
  ros2_ws/src/holoocean_bridge/config/holoocean_bridge_params.yaml
  ros2_ws/src/holoocean_bridge/holoocean_bridge/ahrs_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/gps_converter_node.py
Due: ament_flake8, ament_pep257, ament_copyright

Testing target frame
  config/fleet/coug_fgo_params.yaml
Due: none

Quick code cleanup
  config/coug1sim_params.yaml
  config/coug2sim_params.yaml
Due: none

Update pre-commit with license
  .pre-commit-config.yaml
Due: none

Update params to match refactor
  config/bluerov2_params.yaml
  config/fleet/coug_fgo_params.yaml
Due: none

Refactor coug_navigation
  ros2_ws/src/coug_navigation/CMakeLists.txt
  ros2_ws/src/coug_navigation/include/coug_navigation/waypoint_follower.hpp
  ros2_ws/src/coug_navigation/src/waypoint_follower.cpp
  ros2_ws/src/coug_navigation/src/waypoint_follower_main.cpp
  ros2_ws/src/coug_navigation/src/waypoint_follower_node.cpp
  ros2_ws/src/coug_navigation/test/test_waypoint_follower.cpp
Due: ament_uncrustify, ament_cpplint, ament_copyright

Launch file standardization
  config/fleet/coug_fgo_params.yaml
  ros2_ws/src/coug_bringup/launch/auv.launch.py
  ros2_ws/src/coug_bringup/launch/base.launch.py
Due: ament_flake8, ament_pep257, ament_copyright

Add codecov deps
  .docker/Dockerfile.base
Due: none

Test codecov
  .github/workflows/ros2_ci.yml
Due: none

Update ROS2 CI
  .github/workflows/ros2_ci.yml
Due: none

Added workflow dispatch
  .github/workflows/docker_ci.yml
  .github/workflows/ros2_ci.yml
Due: none

Quick test fix
  .github/workflows/ros2_ci.yml
Due: none

Test CI again
  .github/workflows/ros2_ci.yml
Due: none

test new CI
  .github/workflows/ros2_ci.yml
Due: none

test 2
  .github/workflows/ros2_ci.yml
Due: none
