Repository cougars-oss/cougars-dev: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_uncrustify, ament_cpplint, ament_flake8, ament_pep257, ament_copyright

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "üê° [pre-commit.ci] autofix"
  autoupdate_commit_msg: "ü™º [pre-commit.ci] autoupdate"
  autoupdate_schedule: monthly
  submodules: false
  skip:
    [
      ament_uncrustify,
      ament_cpplint,
      # ament_cppcheck,
      ament_flake8,
      ament_pep257,
      ament_lint_cmake,
      ament_xmllint,
      ament_copyright,
    ]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-yaml
      - id: check-json
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-added-large-files
        args: ["--maxkb=10000"]
      - id: forbid-submodules

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.37.0
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black

  - repo: local
    hooks:
      # --- C++ Auto-Format ---
      - id: ament_uncrustify
        name: ament_uncrustify
        entry: ament_uncrustify
        args: ["--reformat"]
        language: system
        types_or: [c++, c]
        files: ^ros2_ws/src/

      # --- C++ Linting ---
      - id: ament_cpplint
        name: ament_cpplint
        entry: ament_cpplint
        language: system
        types_or: [c++, c]
        files: ^ros2_ws/src/

      # - id: ament_cppcheck
      #   name: ament_cppcheck
      #   entry: ament_cppcheck
      #   language: system
      #   types_or: [c++, c]
      #   files: ^ros2_ws/src/

      # --- Python Linting ---
      - id: ament_flake8
        name: ament_flake8
        entry: ament_flake8
        language: system
        types: [python]
        files: ^ros2_ws/src/
        exclude: /setup\.py$

      - id: ament_pep257
        name: ament_pep257
        entry: ament_pep257
        language: system
        types: [python]
        files: ^ros2_ws/src/
        exclude: /setup\.py$

      # --- CMake & XML Linting ---
      - id: ament_lint_cmake
        name: ament_lint_cmake
        entry: ament_lint_cmake
        language: system
        types: [cmake]
        files: ^ros2_ws/src/

      - id: ament_xmllint
        name: ament_xmllint
        entry: ament_xmllint
        language: system
        types: [xml]
        files: ^ros2_ws/src/

      # --- Copyright Check ---
      - id: ament_copyright
        name: ament_copyright
        entry: ament_copyright
        language: system
        files: ^ros2_ws/src/
        exclude: |
          (?x)^(
              .*\.json|
              .*\.yaml|
              .*\.yml|
              .*\.xml|
              .*\.repos|
              .*\.txt|
              .*/setup\.py
          )$

test quick fix
  .docker/Dockerfile.base
  .github/workflows/ros2_ci.yml
Due: none

Test diff GCC version
  .github/workflows/ros2_ci.yml
Due: none

Test final fixes (?)
  .github/workflows/ros2_ci.yml
Due: none

test again
  .github/workflows/ros2_ci.yml
Due: none

Quick fix
  .github/workflows/ros2_ci.yml
Due: none

test path fixes
  .github/workflows/ros2_ci.yml
Due: none

Quick updates
  .github/workflows/ros2_ci.yml
Due: none

add codecov badge
  README.md
Due: none

CI simplification
  .github/workflows/ros2_ci.yml
Due: none

Quick codecov update
  .github/workflows/ros2_ci.yml
Due: none

Added continous IMU bias
  config/fleet/coug_fgo_params.yaml
  config/fleet/holoocean_bridge_params.yaml
  config/holoocean/bluerov2_openwater.json
  config/holoocean/couguv_openwater.json
  config/holoocean/multi_couguv_openwater.json
  ros2_ws/src/coug_plotjuggler/plotjuggler/plotjuggler.xml.template
  ros2_ws/src/holoocean_bridge/config/holoocean_bridge_params.yaml
  ros2_ws/src/holoocean_bridge/holoocean_bridge/ahrs_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/dvl_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/gps_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/imu_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/mag_converter_node.py
  ros2_ws/src/holoocean_bridge/launch/holoocean_bridge.launch.py
Due: ament_flake8, ament_pep257, ament_copyright

Better eval pipeline
  config/bluerov2_params.yaml
  config/fleet/coug_fgo_params.yaml
  config/fleet/holoocean_bridge_params.yaml
  ros2_ws/src/coug_bringup/package.xml
  ros2_ws/src/coug_mapviz/mapviz/mapviz_config.mvc.template
  ros2_ws/src/coug_mapviz/mapviz/multi_mapviz_config.mvc
  ros2_ws/src/coug_plotjuggler/plotjuggler/plotjuggler.xml.template
  ros2_ws/src/coug_rqt/diagnostics/diagnostics_params.yaml.template
  ros2_ws/src/coug_rqt/diagnostics/multi_diagnostics_params.yaml
  ros2_ws/src/coug_rviz/rviz/multi_rviz_config.rviz
  ros2_ws/src/holoocean_bridge/config/holoocean_bridge_params.yaml
  ros2_ws/src/holoocean_bridge/holoocean_bridge/imu_converter_node.py
Due: ament_flake8, ament_pep257, ament_copyright

Quick multi-agent fix
  ros2_ws/src/coug_mapviz/mapviz/multi_mapviz_config.mvc
  ros2_ws/src/coug_rviz/rviz/multi_rviz_config.rviz
Due: ament_copyright

Update RViz with iSAM2
  ros2_ws/src/coug_rviz/rviz/rviz_config.rviz.template
Due: ament_copyright

Queue size update
  config/fleet/coug_fgo_params.yaml
Due: none

Actual sensor freqs
  config/fleet/coug_fgo_params.yaml
  config/holoocean/bluerov2_openwater.json
  config/holoocean/couguv_openwater.json
  config/holoocean/multi_couguv_openwater.json
Due: none

Fixed quat from euler dep
  ros2_ws/src/holoocean_bridge/holoocean_bridge/ahrs_converter_node.py
  ros2_ws/src/holoocean_bridge/package.xml
Due: ament_flake8, ament_pep257, ament_copyright

Update Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/gpu/devcontainer.json
  .docker/Dockerfile.dev
Due: none

AQUA-SLAM groundwork
  config/fleet/coug_fgo_params.yaml
  ros2_ws/src/coug_mapviz/mapviz/mapviz_config.mvc.template
  ros2_ws/src/coug_plotjuggler/plotjuggler/plotjuggler.xml.template
  ros2_ws/src/coug_rqt/diagnostics/diagnostics_params.yaml.template
  ros2_ws/src/coug_rqt/diagnostics/multi_diagnostics_params.yaml
  ros2_ws/src/coug_rviz/rviz/rviz_config.rviz.template
Due: ament_copyright

Added rosbags dep
  .docker/Dockerfile.dev
Due: none

Renamed experimental to comparison
  config/fleet/coug_fgo_params.yaml
Due: none

Fixed param naming
  config/fleet/coug_fgo_params.yaml
Due: none

Testing Docker CI simplification
  .github/workflows/docker_ci.yml
Due: none

Added new repos
  cougars.repos
Due: none

Quick repos file fix
  cougars.repos
Due: none

Another repos fix
  cougars.repos
Due: none

Fix for orca deps
  cougars.repos
Due: none

One more fix
  cougars.repos
Due: none

Quick indent fix
  cougars.repos
Due: none

Quick fix
  cougars.repos
Due: none

Lock repos to commit versions
  cougars.repos
Due: none

Add new repos to gitignore
  .gitignore
Due: none

Update repos file
  cougars.repos
Due: none

Focus on 2D first
  cougars.repos
Due: none

Update maintainers
  ros2_ws/src/coug_bringup/package.xml
  ros2_ws/src/coug_bringup/setup.py
  ros2_ws/src/coug_description/package.xml
  ros2_ws/src/coug_description/setup.py
  ros2_ws/src/coug_mapviz/package.xml
  ros2_ws/src/coug_navigation/package.xml
  ros2_ws/src/coug_plotjuggler/package.xml
  ros2_ws/src/coug_plotjuggler/setup.py
  ros2_ws/src/coug_rqt/package.xml
  ros2_ws/src/coug_rqt/setup.py
  ros2_ws/src/coug_rviz/package.xml
  ros2_ws/src/coug_rviz/setup.py
  ros2_ws/src/holoocean_bridge/package.xml
  ros2_ws/src/holoocean_bridge/setup.py
Due: none

MPPI working!
  config/blue0sim_params.yaml
  config/fleet/coug_active_fgo_params.yaml
  ros2_ws/src/coug_bringup/launch/auv.launch.py
Due: ament_flake8, ament_pep257, ament_copyright

Update for navigation conflict
  ros2_ws/src/coug_bringup/launch/auv.launch.py
Due: ament_flake8, ament_pep257, ament_copyright

Much better sim speed
  config/holoocean/bluerov2_holoocean_params.yaml
Due: none

Working base MPPI
  config/fleet/coug_active_fgo_params.yaml
Due: none
