Repository cougars-oss/cougars-dev: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_uncrustify, ament_cpplint, ament_flake8, ament_pep257, ament_copyright

.pre-commit-config.yaml:

ci:
  autofix_commit_msg: "üê° [pre-commit.ci] autofix"
  autoupdate_commit_msg: "ü™º [pre-commit.ci] autoupdate"
  autoupdate_schedule: monthly
  submodules: false
  skip:
    [
      ament_uncrustify,
      ament_cpplint,
      # ament_cppcheck,
      ament_flake8,
      ament_pep257,
      ament_lint_cmake,
      ament_xmllint,
      ament_copyright,
    ]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-yaml
      - id: check-json
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-added-large-files
        args: ["--maxkb=10000"]
      - id: forbid-submodules

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.37.0
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black

  - repo: local
    hooks:
      # --- C++ Auto-Format ---
      - id: ament_uncrustify
        name: ament_uncrustify
        entry: ament_uncrustify
        args: ["--reformat"]
        language: system
        types_or: [c++, c]
        files: ^ros2_ws/src/

      # --- C++ Linting ---
      - id: ament_cpplint
        name: ament_cpplint
        entry: ament_cpplint
        language: system
        types_or: [c++, c]
        files: ^ros2_ws/src/

      # - id: ament_cppcheck
      #   name: ament_cppcheck
      #   entry: ament_cppcheck
      #   language: system
      #   types_or: [c++, c]
      #   files: ^ros2_ws/src/

      # --- Python Linting ---
      - id: ament_flake8
        name: ament_flake8
        entry: ament_flake8
        language: system
        types: [python]
        files: ^ros2_ws/src/
        exclude: /setup\.py$

      - id: ament_pep257
        name: ament_pep257
        entry: ament_pep257
        language: system
        types: [python]
        files: ^ros2_ws/src/
        exclude: /setup\.py$

      # --- CMake & XML Linting ---
      - id: ament_lint_cmake
        name: ament_lint_cmake
        entry: ament_lint_cmake
        language: system
        types: [cmake]
        files: ^ros2_ws/src/

      - id: ament_xmllint
        name: ament_xmllint
        entry: ament_xmllint
        language: system
        types: [xml]
        files: ^ros2_ws/src/

      # --- Copyright Check ---
      - id: ament_copyright
        name: ament_copyright
        entry: ament_copyright
        language: system
        files: ^ros2_ws/src/
        exclude: |
          (?x)^(
              .*\.json|
              .*\.yaml|
              .*\.yml|
              .*\.xml|
              .*\.repos|
              .*\.txt|
              .*/setup\.py
          )$

Better QoS settings
  ros2_ws/src/coug_navigation/src/waypoint_follower.cpp
  ros2_ws/src/holoocean_bridge/holoocean_bridge/ahrs_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/cmd_vel_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/depth_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/dvl_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/fin_state_publisher_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/gps_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/hsd_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/imu_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/mag_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/truth_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/wrench_converter_node.py
Due: ament_uncrustify, ament_cpplint, ament_flake8, ament_pep257, ament_copyright

Simplified tests
  ros2_ws/src/coug_navigation/CMakeLists.txt
  ros2_ws/src/coug_navigation/test/test_waypoint_follower.cpp
Due: ament_uncrustify, ament_cpplint, ament_copyright

Better README instructions
  README.md
Due: none

Quick update
  ros2_ws/src/holoocean_bridge/holoocean_bridge/ahrs_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/cmd_vel_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/depth_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/dvl_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/fin_state_publisher_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/gps_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/hsd_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/imu_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/mag_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/truth_converter_node.py
  ros2_ws/src/holoocean_bridge/holoocean_bridge/wrench_converter_node.py
Due: ament_flake8, ament_pep257, ament_copyright

WIP AQUA-SLAM integration
  config/fleet/coug_fgo_params.yaml
Due: none
